<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue Course Goals</h1>
  </header>
  <section id="user-goal">
    <!-- Double curlys are interpolation -->
    <h2>{{ message }}</h2>
    <p>{{ outputGoal() }}</p>
    <!-- v-bind/v-html are Vue directive -->
    <p v-html="html"></p>
    <p>Learn more about <a v-bind:href="vueLink">Vue</a></p>
  </section>
</body>

</html>